version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-minor
          - version-update:semver-patch
    commit-message:
      prefix: CI
    cooldown:
      default-days: 2
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    groups:
      all-packages:
        patterns:
          - "*"
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    commit-message:
      prefix: CI
    # Makes it possible to have another config. for the same dir.
    # https://github.com/dependabot/dependabot-core/issues/1778#issuecomment-1988140219
    target-branch: master
    cooldown:
      default-days: 2
  - package-ecosystem: pip
    directory: /bookmarkmgr
    schedule:
      interval: daily
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-minor
          - version-update:semver-patch
    commit-message:
      prefix: bookmarkmgr
    cooldown:
      default-days: 2
  - package-ecosystem: pip
    directory: /bookmarkmgr
    schedule:
      interval: daily
    groups:
      all-packages:
        patterns:
          - "*"
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    commit-message:
      prefix: bookmarkmgr
    # Makes it possible to have another config. for the same dir.
    # https://github.com/dependabot/dependabot-core/issues/1778#issuecomment-1988140219
    target-branch: master
    cooldown:
      default-days: 2
  - package-ecosystem: pip
    directory: /bookmarks4diff
    schedule:
      interval: daily
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-minor
          - version-update:semver-patch
    commit-message:
      prefix: bookmarks4diff
    cooldown:
      default-days: 2
  - package-ecosystem: pip
    directory: /bookmarks4diff
    schedule:
      interval: daily
    groups:
      all-packages:
        patterns:
          - "*"
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    commit-message:
      prefix: bookmarks4diff
    # Makes it possible to have another config. for the same dir.
    # https://github.com/dependabot/dependabot-core/issues/1778#issuecomment-1988140219
    target-branch: master
    cooldown:
      default-days: 2
  - package-ecosystem: pip
    directory: /ytm
    schedule:
      interval: daily
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-minor
          - version-update:semver-patch
    commit-message:
      prefix: ytm
    cooldown:
      default-days: 2
  - package-ecosystem: pip
    directory: /ytm
    schedule:
      interval: daily
    groups:
      all-packages:
        patterns:
          - "*"
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    commit-message:
      prefix: ytm
    # Makes it possible to have another config. for the same dir.
    # https://github.com/dependabot/dependabot-core/issues/1778#issuecomment-1988140219
    target-branch: master
    cooldown:
      default-days: 2
