name: CI
on: push
permissions: {}
jobs:
  lint-all:
    name: Lint - All
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: super-linter/super-linter/slim@b92721f792f381cedc002ecdbb9847a15ece5bb8 #v7.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_PYTHON_BLACK: false
          VALIDATE_PYTHON_FLAKE8: false
          VALIDATE_PYTHON_ISORT: false
          VALIDATE_PYTHON_MYPY: false
          VALIDATE_PYTHON_PYINK: false
          VALIDATE_PYTHON_PYLINT: false
  lint-bookmarkmgr:
    name: Lint - bookmarkmgr
    # ubuntu-latest is still Ubuntu 22.04, which uses ancient Poetry version.
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: bookmarkmgr
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
        with:
          persist-credentials: false
      - run: sudo apt-get update
      - run: sudo apt-get install -y --no-install-recommends python3-poetry
      - name: Don't build native modules
        run: echo > build.py
      - run: poetry install
      - run: poetry run mypy .
